.loading-main-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 100vh;
    row-gap: 2rem;
}
.loading-sub-con{

}
.loading-main-con img{
    width: 2 5rem;
    height: 15rem;
}
.loadrtl {
    width: 30rem;
    height: 0.3rem;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .loadrtl::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0; /* Start from the left */
    width: 0; /* Initially set the width to 0 */
    height: 100%;
    background-color: #FFA226; /* Your desired color */
    animation: fillFromLeft 3s ease-in-out forwards;
  }
  
  @keyframes fillFromLeft {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  