/* Global Styles */
.main-h {
    margin: 0;
    padding: 0;
    position: relative;
}

/* First Header Section */
.f-h {
    height: 2.5rem;
    background-color: #FFA226;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.f-h-icons {
    display: flex;
    column-gap: 2rem;
    height: 2.5rem;
    align-items: center;
}

.f-h-icons img {
    width: 20px;
    height: 20px;
}

.f-h-icons p {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
}
.r-a-p-main{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    /* border: 1px solid black; */
}
.r-a-p-image{
    width: 1rem;
    height: auto;
    padding-top: 0.2rem;
}
.r-a-p{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
}

.f-h-last-icons {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.f-h-last-icons img {
    width: 25px;
    height: 25px;
}

/* Second Header Section */
.s-h {
    min-height: 6rem;
    padding: 0 4rem;
    display: grid;
    grid-template-columns: 20% 70%;
    box-shadow: 0px 4px 4px 0px #00000040;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.s-h-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-h-logo img {
    width: 15rem;
    height: 3.5rem;
}
.s-h-logo img:hover{
    cursor: pointer;
}
.s-h-s {
   display: grid;
    grid-template-columns: 30% 45% 15%;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: space-between;
}

/* Book Service Button */
.books-button {
    width: 100%;
    background-color: #D16611;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    color: white;
    /* border: 1px solid black; */
   
}

.books-button:hover {
    cursor: pointer;
}

/* Search and Location */


.location {
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: left;
    padding: 0 1rem;
    border: 1.07px solid #969696;
    border-radius: 10px;
    column-gap: 0.5rem;
    background-color: #FFF;
    /* Fix transparency */
    opacity: 1;
    /* Fix transparency */
}

.location img {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.5;
}

.location-input {
    font-family: Roboto;
    font-size: 16.09px;
    font-weight: 400;
    line-height: 18.85px;
    text-align: center;
}

.location input {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: #969696;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    background-color: #FFF;
    /* Fix transparency */
}

.location input:focus {
    border: none;
    background-color: white;
}

/* header.css */

.location-input-wrapper {
    position: relative;
    width: 100%;
}

.city-search-wrapper {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    position: absolute;
    top: 150%;
    /* Position it directly below the input field */
    left: -40px;
    /* Align with the left edge of the input field */
    right: 70px;
    /* Ensure the right side is not constrained */
    z-index: 1000;
    width: 100%;
    /* Make sure the dropdown takes the width of the input field */
}





.search-header {
    display: flex;
    justify-content: space-evenly;
    height: 2.5rem;
    border: 1px solid #969696;
    opacity: 1;
    /* Fix transparency */
    align-items: center;
    border-radius: 10px;
    padding: 0px 5px;
    background-color: #FFF;
    /* Fix transparency */
}

.search-header img {
    width: 1.5rem;
    height: 1.5rem;
}

.search-header input {
    margin: 0;
    padding: 4.5px;
    width: 80%;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    background-color: #FFF;
    /* Fix transparency */
}

/* User Icon */
.user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
    background-color: white;
    border-radius: 5px;
}

.user-icon:hover {
    background-color: #f0f0f0;
}

/* Modal Styling */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    max-height: 300px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

.close-button:hover {
    color: black;
}

/* Badge Styling */
.cart-icon-container {
    position: relative;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 10px;
}

/* Profile Menu */
.profileMenu {
    position: absolute;
    top: 2.5rem;
    right: 0.5rem;
    width: auto;
    height: auto;
    padding: 0.5rem;
    margin: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.4rem;
    min-width: 8rem;
    min-height: 10rem;
    border-radius: 10px;
    z-index: 9999;
}

.profile-list {
    font-family: Nunito Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    width: 100%;
    padding: 0.5rem 0rem;
}

.profile-list:hover {
    cursor: pointer;
}

#logout-button {
    padding: 2px;
    background-color: #ffffff;
    color: #ff0000;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#logout-button:hover {
    background-color: #ff4d4d;
    color: #fff;
}

.logout-icon {
    margin-right: 8px;
    font-size: 18px;
}


.service-search-container {
    position: relative;
}

.service-search-results {
    position: absolute;
    top: 118%;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    /* border: 1px solid #ccc; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    /* Hide by default */
}

.service-search-container input:focus+.service-search-results,
.service-search-container .service-search-results:hover {
    display: block;
    /* Show on focus or hover */
}
.mobile-container{
    display: none;
}


/* responsive */

@media screen and (max-width: 765px) {
    .main-h{
        display: none;
    }
    .mobile-container {
      display: block;
      max-width: 100%;
      background-color: #0486aa;
      /* border: 1px solid black; */
      height: auto;
    }
   .mobile-links{
    display: flex;
    flex-direction: column;
    
   }
    .float-contains {
      display: none;
    }

    a.icon{
        /* border: 1px solid black; */
      height: 2rem;
       width: 1.5rem;
        padding: 0px;
        margin: 0px;
        font-size: 30px;
    }
    
    .topnav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color:white ;
      height: 3rem; 
      /* border: 1px solid black; */
    }
  
    .main-logo{/* Adjust the logo size to fit within the topnav */
      width: 6.5rem;
   height: 2rem;
   margin-left: 20px;
      /* border: 1px solid black; */
      /* background-color: white; */
    }
  
    .topnav a.icon {
      background-color: white;
      display: block;
      padding: 0.5rem;
      position: relative;
      right: 0.5rem;
      color: #0486aa;
    }
  
    #myLinks {
      display: none;
    }
  
    #myLinks.show {
      display: flex;
      flex-direction: column;
      background-color: #0486aa;
      /* border-top: 1px solid black; */
    }
    #myLinks{
      padding: 10px 15px;
    }
    #myLinks a {
      color: white;
      padding: 5px 0px;
      text-decoration: none;
      font-size: 15px;
      text-align: left;
      margin: 0px;
    }
    nav.navbar.navbar-expand-lg.navbar-class.w-auto{
      display: none;
    }
  .nav-name{
    color: white;
    padding: 0px;
    margin: 0px;
  }
    .topnav a:hover {
      
      color:#0486aa;
      background-color:white;
    }
    #myLinks a:hover{
      background-color:#0486aa;
      color:white;
    }
  
    .active {
      background-color: transparent;
      color: white;
    }
  
  
  }
  @media (min-width: 1500px) and (max-width: 2000px) {
    .main-h {
        /* border: 1px solid black; */
        width: 1500px;
        margin: 0 auto; /* This centers the element horizontally */
    }
}