.home-main{
    /* border: 1px solid black; */
    min-height: 100rem;
    width: 90%;
    margin: auto;
}
@media (min-width: 1500px) and (max-width: 2000px) {
    .home-main {
        /* border: 1px solid black; */
        width: 1500px;
        margin: 0 auto; /* This centers the element horizontally */
    }
}
