.test-m-c{
    border: 1px solid black;
    text-align: center;
    padding: 2rem;
    /* background-color:  #FFC1B5; */
    background-color: #FFC166;
    /* background-color: #FFC1B5; */

}
.test-m-c-s{
    border: 1px solid black;
    text-align: center;
    padding: 2rem;
    background-color:  #FFC1B5;
    
 

}