/* File: BookingDetails.css */
.booking-details-container {
    max-width: 800px;
    margin: 1rem auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.booking-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.booking-header h1 {
    font-size: 2rem;
    font-weight: bold;
}


#booking-detail-location {
    display: flex;
    justify-content: start;
}

.help-button {
    padding: 10px 20px;
    background-color: #bcbcbc;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.booking-time {
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 20px;
}

.customer-details {
    margin-top: 20px;
}

.customer-details h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 5px;
}

.location-card {
    border: 1px solid #303030;
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
    background-color: #f9f9f9;
}

.location-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.location-card p {
    font-size: 1rem;
    line-height: 1.5;
}

.job-timings {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.job-timings p {
    margin: 0;
    font-size: 1rem;
}

.summary-section {
    margin-top: 30px;
}

.summary-section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 5px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    /* Reduce the gap to decrease the space between items */
    border-bottom: 1px dashed #ddd;
    padding: 5px 0;
    /* You can also adjust padding to decrease overall space */
}


.summary-container {
    border: 1px solid rgb(51, 51, 51);
    border-radius: 10px;
    padding: 10px
}

.item-description p {
    margin: 0;
    font-size: 1rem;
}

.booking-item-price {
    font-weight: bold;
    font-size: 1.2rem;
}

.other-charges,
.total-value {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 0 5rem;
    padding: 15px 0;
}

.total-value {
    font-weight: bold;
    font-size: 1.3rem;
    border-top: 1px dashed #ddd;
}

.other-charges p,
.total-value p {
    margin: 0;
}