.order-cards-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    /* Reduced padding */
    font-family: Roboto, sans-serif;
}

.bookings-title {
    font-weight: 500;
    margin-left: 3rem;
    font-size: 1.5rem;
    /* Adjusted to scale down */
}

.order-card {
    background-color: #fff;
    border: 2px solid #000000;
    /* Thinner border */
    border-radius: 30px;
    /* Slightly less rounded */
    padding: 10px 60px;
    /* Reduced padding */
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* Reduced gap */
    margin-left: 4rem;
    /* Reduced margin */
    margin-bottom: 2rem;
    /* Reduced margin */
}

.order-card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding-bottom: 0px;
    min-height: 45px;
    /* Reduced min-height */
}

.order-card-header h3 {
    margin: 0;
    color: #333;
    font-size: 1.5rem;
    /* Adjusted to scale down */
}

.order-card-header .time {
    margin: 0;
    color: #000000;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    /* Adjusted to scale down */
}

.icon {
    width: 38px;
    /* Scaled down */
    height: 38px;
    /* Scaled down */
    margin-right: 8px;
    vertical-align: middle;
}

.order-card-body p {
    font-weight: 400;
    font-size: 1.875rem;
    /* 25% smaller than 2.5rem */
    margin: 4px 0;
    /* Reduced margin */
    color: #000000;
}

.order-card-body p:last-child {
    font-weight: 400;
    color: #000000;
}

.order-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    /* Reduced padding */
}

.order-card-body p {
    margin: 0;
    color: #555;
}

.order-card-body .pricing-details {
    flex: 1;
    text-align: left;
}

.order-card-body .booking-date {
    flex: 1;
    text-align: right;
    font-weight: 400;
    color: #000000;
    font-size: 1.5rem;
    /* Adjusted to scale down */
}

#selected-time {
    margin-top: 1.5rem;
    /* Reduced margin */
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.875rem;
    /* 25% smaller than 2.5rem */
}

#booking-day {
    font-size: 1.5rem;
    /* Adjusted to scale down */
    margin-bottom: 4rem;
    /* Reduced margin */
    font-weight: 450;
}

.pricing-details {
    color: #000000;
}

#jobs-pricing {
    color: #000000;
    margin-bottom: 1.5rem;
    /* Reduced margin */
    font-weight: 400;
    font-size: 1.5rem;
    /* Adjusted to scale down */
}

#booking-name {
    font-weight: 500;
    font-size: 2.25rem;
    /* 25% smaller than 3rem */
}